[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/kineto"]
	path = third_party/kineto
	url = https://github.com/pytorch/kineto.git
[submodule "third_party/ittapi"]
	path = third_party/ittapi
	url = https://github.com/intel/ittapi.git
